body {
	background-image: url('Screenshot 2023-05-02 at 10.28.01 AM.png');
	background-size: cover;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
    padding: 20px;
    background-color: #198086;
    font-size: 40px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

li {
	padding: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		align-items: flex-start;
	}
	
	header {
		height: auto;
	}

	li {
		padding: 5px;
	}
}

main {
    text-align: center;
  }
  
.section {
    color: #198086;
    height: 100vh; /* adjust to the height you want for each section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

.section h2 {
    font-size: 64px;
}
.section p {
    font-size: 30px;
}
 #about p {
    margin: 0 150px;

 }
